* {
    margin: 0px;
    padding: 0px;
  }

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: rgb(27, 27, 27);
}

ul {
    list-style: none;
}

li {
    display: inline;
    padding: 10px;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    color: linen;
}

.navbar div {
    padding: 20px;
}

/* Welcome Section */
.welcome-section {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-image: url('images/Typewriter.jpg');
    background-size: cover;
    background-position: center;
}

.welcome-section div {
    margin: 10%;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    color: linen;
}

/* Project Section */